<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>
<p>
<strong>Description:</strong>
<%= @book.description%>
</p>
<p>
<strong>URL:</strong>
<%= @book.URL%>
</p>
<strong>user:</strong>
<%= @book.user%>
</p>
<strong>checkout:</strong>
<%= @book.checkout%>
</p>

 
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
