<h1>Listing Users</h1>
<%= link_to 'New user', new_user_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Book read</th>
    <th>email</th>
  
    <th colspan="2"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %>
      <td><%= user.name %></td>
      <td><%= user.books_read%></td>
      <td><%= user.email%></td>
         

      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', users_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>