<h1>Edit user</h1>
 
   <%= form.label :Name %><br>
      <%= form.text_field :name %> 
    </p>
   
    <p>
      <%= form.label :Book %><br>
      <%= form.text_field :book %>
    </p>
    <p>
    <%= form.label :ID %><br>
     <%= form.text_field :id %>
  </p>
 
    <%= form.submit %>
  </p>
 
 
<%= link_to 'Back', user_path %>